<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Medelveckan</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script type="module" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>
<body>
	<h1>Program (MTV + IMTV)</h1>
<header>
	<nav>
		<ol class="weekday-buttons">
			{% for day in schedule['days'] %}
			<li><button>{{ day['weekday'] }}</button></li>
			{% endfor %}
		</ol>
	</nav>
</header>
<main>
	<ol id="days">
		{% for day in schedule['days'] %}
		<li>
			<section class="day">
				<hgroup class="day-header">
					<h2 class="weekday">{{ day['weekday'] }}</h2>
					<p class="date">{{ day['date'] }}</p>
				</hgroup>
				<details open class="opening-hours">
					<summary>Öppettider</summary>
					<ol class="venues">
						{% for venue in day['venues'] %}
						<li>
							<span class="time-range">
								{{ venue['start_time'] }}-{{ venue['end_time'] }}
							</span>
							<button class="title">{{ venue['title'] }}</button>
						</li>
						{% endfor %}
					</ol>
				</details>
				<ol class="time-slots">
					{% for time_slot in day['time_slots'] %}
					<li class="time-slot">
						<span class="time">{{ time_slot['time'] }}</span>
						<ol class="events">
							{% for event in time_slot['events'] %}
							<li>
								<button command="show-modal" commandfor="event-{{ event['id'] }}-modal" class="event-card"
									data-official=
									{% if event['category'] == 'inofficiell' %}
									"false"
									{% else %}
									"true"
									{% endif %}
								>
									<article>
										<div class="body">
											<div class="details">
												{% if 'owner' in event %}
												<span class="owner">{{ event['owner'] }}</span>
												{% endif %}
												<span class="time">{{ event['start_time'] }}</span>
											</div>
											<h2 class="title">{{ event['title'] }}</h2>
										</div>
										<footer>
											{% if 'category' in event %}
											<span class="category">{{ event['category'] }}</span>
											{% endif %}
											{% if 'price' in event or 'min_price' in event %}
											<a href="https://www.nortic.se/ticket/show/{{ event['ticket_id'] }}" class="ticket price">
												{% if 'price' in event %}
												{{ event['price'] }}
												{% else %}
												{{ event['min_price'] }}-{{ event['max_price'] }}
												{% endif %}
												kr
											</a>
											{% endif %}
										</footer>
									</article>
								</button>
								<dialog id="event-{{ event['id'] }}-modal" closedby="any" class="event-modal">
									{% if 'image_url' in event %}
									<img src="{{ event['image_url'] }}" alt="eventomslagsbild" loading="lazy">
									{% endif %}
									<article>
										<header>
											{% if 'owner' in event %}
											<span class="owner">{{ event['owner'] }}</span>
											{% endif %}
											<h2 class="title">{{ event['title'] }}</h2>
										</header>
										<div class="body">
											<div class="left">
												<details name="event-{{ event['id'] }}" open>
													<summary>Beskrivning</summary>
													{{ event['html_escaped_description']|safe }}
												</details>
												<details name="event-{{ event['id'] }}">
													<summary>Övriga visningstider</summary>
													<table>
														<thead>
															<tr>
																<th scope="col">Dag</th>
																<th scope="col">Tid</th>
																<th scope="col">Show</th>
															</tr>
														</thead>
														<tbody>
															{% for sibling in event['siblings'] %}
															<tr>
																<td>{{ sibling['weekday'] }}</td>
																<td>{{ sibling['start_time'] }}</td>
																<td>{{ sibling['title'] }}</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>
												</details>
											</div>
											<div class="right">
												<div>
													<span>
														<span class="weekday">{{ event['weekday'] }}</span>
														<span class="date">{{ event['date'] }}</span>
													</span>
													{% if 'end_time' in event %}
													<span class="time-range">
														{{ event['start_time'] }}-{{ event['end_time'] }}
													</span>
													{% else %}
													<span class="time">
														{{ event['start_time'] }}
													</span>
													{% endif %}
													<span class="location">{{ event['location'] }}</span>
												</div>
												{% if 'price' in event or 'min_price' in event %}
												<a href="https://www.nortic.se/ticket/show/{{ event['ticket_id'] }}" class="ticket">Köp biljett</a>
												{% endif %}
											</div>
										</div>
										<footer>
											<button command="close" commandfor="event-{{ event['id'] }}-modal">
												Stäng
											</button>
										</footer>
									</article>
								</dialog>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</section>
		</li>
		{% endfor %}
	</ol>
</main>
<footer></footer>
</body>
</html>
